.gists {
    &::before {
        content: 'gists';
        background-color: $primary-clr-3;
    }
    & > div {
        height: 16rem;
        padding: 1.5rem;
        overflow-y: auto;
    }
    article {
        display: flex;
        align-items: center;
        column-gap: 1rem;
        padding: 0.5rem 0;
        border-bottom: 1px solid $light-grey;
        word-break: break-all;
        &:first-child {
            padding: 0 0 0.5rem;
        }
        &:last-child {
            border-bottom: none;
            padding: 0.5rem 0 0;
        }
        & > span {
            flex: 0 0 2.5rem;
            height: 2.5rem;
            @extend %flex-center;
            border-radius: 50%;
            background-color: $grey;
            color: $white;
            font-size: 1.5rem;
        }
        p {
            margin-bottom: 0.25rem;
            line-height: 1.25;
        }
        a {
            text-transform: capitalize;
        }
    }
}
