.page-404 {
    min-height: 100vh;
    @extend %flex-center;
    flex-flow: column wrap;
    text-align: center;
    h1 {
        color: $primary-clr-3;
        font-size: 10rem;
        @include for-size(small) {
            font-size: 8rem;
        }
    }
    h2 {
        margin: 2rem 0;
        font-size: 2rem;
    }
}
