.user-info {
    position: relative;
    padding: 1.5rem;
    border-radius: $radius;
    border-top-left-radius: 0;
    background-color: $white;
    &::before {
        content: 'github user';
        position: absolute;
        top: -2rem;
        left: 0;
        padding: 0.5rem 1rem;
        border-radius: $radius $radius 0 0;
        background-color: $green;
        color: $white;
        text-transform: capitalize;
        letter-spacing: $spacing;
    }
    &-header {
        @extend %flex-between;
        margin-bottom: 1rem;
        & > div {
            display: flex;
            align-items: center;
            column-gap: 1rem;
        }
        img {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            object-fit: cover;
        }
        h4 {
            margin-bottom: 0.5rem;
        }
        span {
            color: $grey;
        }
    }
    &-list {
        margin-top: 1rem;
        li {
            display: flex;
            align-items: center;
            column-gap: 0.5rem;
            &:not(:last-child) {
                margin-bottom: 0.75rem;
            }
            svg {
                color: $grey;
            }
        }
    }
}
