.user-info {
    padding: 1.5rem;
    &::before {
        content: 'github user';
        background-color: $green;
    }
    &-header {
        @extend %flex-between;
        margin-bottom: 1rem;
        @include for-size(large) {
            display: block;
            & > div {
                margin-bottom: 1rem;
            }
        }
        & > div {
            display: flex;
            align-items: center;
            column-gap: 1rem;
        }
        img {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            object-fit: cover;
        }
        h4 {
            margin-bottom: 0.5rem;
        }
        span {
            color: $grey;
        }
    }
    &-list {
        margin-top: 1rem;
        li {
            display: flex;
            align-items: center;
            column-gap: 0.5rem;
            &:not(:last-child) {
                margin-bottom: 0.75rem;
            }
            svg {
                color: $grey;
            }
        }
    }
}
