@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import 'config';
@import 'navbar';
@import 'search';
@import 'user-stats';
@import 'cards';
@import 'user-info';
@import 'followers';
@import 'gists';
@import 'charts';
@import 'login';
@import 'page-404';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    &::selection {
        background-color: $primary-clr-3;
        color: $white;
    }
}

body {
    position: relative;
    min-height: 100vh;
    background-color: $primary-clr;
    color: $black;
    line-height: 1;
}

h1,
h2,
h3,
h4 {
    text-transform: capitalize;
    letter-spacing: $spacing;
}

p {
    line-height: 1.5;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img,
svg {
    display: block;
}

input {
    background-color: $white;
    color: $black;
    font-size: 1rem;
}

button {
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
}

.btn {
    display: inline-block;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: $radius;
    background-color: $green;
    color: $white;
    box-shadow: $shadow;
    text-transform: capitalize;
    letter-spacing: $spacing;
    transition: $ease-trans;
    &:hover {
        background-color: $primary-clr-2;
    }
}

.round-btn {
    height: 2rem;
    display: inline-flex;
    align-items: center;
    padding: 0 0.75rem;
    border: 1px solid $green;
    border-radius: $radius-2;
    background-color: transparent;
    color: $green;
    text-transform: capitalize;
    letter-spacing: $spacing;
    transition: $ease-trans;
    &:hover {
        background-color: $green;
        color: $white;
    }
}

.text-link {
    color: $primary-clr-2;
    &:hover {
        text-decoration: underline;
    }
}

.github-link {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translate(-50%, 50%);
    @extend %flex-center;
    column-gap: 0.5rem;
    color: $primary-clr-3;
    opacity: 0.5;
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: $spacing;
    white-space: nowrap;
    transition: $ease-trans;
    svg {
        font-size: 1.2rem;
    }
    &:hover {
        opacity: 1;
    }
}

.main {
    padding: 4rem 0;
    &-center {
        max-width: 1200px;
        width: 90vw;
        margin: 0 auto;
    }
}

.loading {
    width: 16rem;
    height: 16rem;
    margin: 0 auto;
    &-overlay {
        min-height: 100vh;
        @extend %flex-center;
    }
}
